body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchSpace {
  display: flex;
  justify-content: center;
  background-color: rgb(220, 241, 241);
}

#search {
  background-color: rgb(103, 231, 231);
  text-align: center;
  padding: 0;
}



#searchResults {
  text-align: left;
}

li {
  list-style: none;
}

#chartSpace {
  background-color: rgba(92, 0, 184, 0.37);
  display: flex;
  justify-content: center;
}

#chart {
  width: 60%;
  padding: 10px;
}

@media screen and (max-width: 769px) {
  #chart {
    width: 95%;
    padding: 10px;

  }
}
