@font-face {
  font-family: "SilianRail";
  src: local("SilianRail"),
    url("./assets/SilianRail.otf") format("otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Silian Rail', 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: rgb(59, 59, 59);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#searchSpace {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

#search {
  background-color: rgb(236, 234, 234);
  text-align: center;
  padding: 0;
}



#searchResults {
  text-align: left;
}

li {
  list-style: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}

#chartSpace {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

#chart {
  width: 60%;
  padding: 10px;
}


.apexcharts-gridline {
  stroke: black !important;
}

.apexcharts-xaxis-tick, .apexcharts-yaxis-tick {
  stroke: black !important;
}

.apexcharts-tooltip.apexcharts-active {
  border-color: black !important;
}

@media screen and (min-width: 768px) {
  #ChartDashboard {
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-rows: 10%, 45%, 45%;
    grid-template-columns: repeat(4,25%);
  }

  #SearchDemo {
    height: 100px;
    grid-row: 1;
    grid-column: span 4;
  }

  #ZillowChart {
    margin: 0.5rem;
    background-color: rgb(174, 174, 174);
    grid-column: span 2;
    grid-row: 2 / 4;
  }

  #RedfinCharts {
    display: inline;
    grid-column: 3;
    grid-row: span 2;
  }

  #PriceChart {
    background-color: rgb(174, 174, 174);
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
  #MarketChart {
    background-color: rgb(174, 174, 174);
    margin: 0rem 0rem 0.5rem 0rem;
  }
  #infoPane {
    background-color: rgb(174, 174, 174);
    grid-row: span 2;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #ChartDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
  }

  #SearchDemo {
    width: 100svw;
    height: 100px;
    background-color: blue;
  }
}

