body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search {
  background-color: rgb(220, 241, 241);
  width: 10%;
  height: 20%;
  margin: 0 auto;
}

#chart {
  background-color: rgb(195, 167, 221);
  width: 80%;
  height: 40%;
  padding: 0% 10% 0% 10%;
  
}
